body,html{
	font-family:Georgia;
	background:black;
}

h1, h2, h3{
	font-family:Verdana;
}

h2 {
	background:black;
	padding: 5;
}


div#leftMargin{
	width:auto;
	float:left;
}

div#rightMargin{
	width:auto;
	float:right;
}

div#header{
	text-align:right;
	width:1000px;
	height:50px;
	color:white;
	background:rgb(50, 30, 30);
	border-bottom:solid 2 white;
	
}

#header a {
	color:rgb(220, 100, 100);
	padding:10px;
	font-weight: bold;
}

div#footer{
	text-align:center;
	font-size:small;
	float:right;
	width:1000px;
	height:25px;
	background:rgb(50, 30, 30);
	border-top:solid 2 white;
	padding-top: 10px;
}

#footer a {
	text-decoration: none;
	color: rgb(220, 200, 200)
}

div#content{
	margin:0px auto;
	width:1000px;
	background:rgb(10, 10, 10);
}

div#left{
	padding:6px;
	float:left;
	width:300;
	border-right:solid 3;
	background:rgb(50, 50, 50);
	color:white;
}


div#instructions{
	visibility:hidden;
	background:rgb(20, 20, 20);
}

div#playground{
	margin-top:20px;
	margin-left:20px;
	border: solid 1 rgb(100, 100, 100);
}

div#game{
	text-align:center;
	float:left;
}

div#pauseScreen{
	position:absolute;
	opacity: 0;
	background-color:black;
}

div#gameOver{
	padding-top:50px;	
}

#gameOverText{
	color: red;

}

