#points{
	color: #FFCC00;
	font-size: 20px; 
}

.gameInfo{
	padding-right: 10px;
	border-right-style:solid;
	max-width:20%;
	top:0px;
	position:relative;
}

.game{
	position: absolute;
	top:10px;
	left: 300px;
}

