html,body{
	background: green;
	margin: 0;
	padding: 0;
	color: black;
	text-align:center;
}

h1{
	color:#ee0a33;
	font-size: 40;
}

#links{
	text-align: left;
	color:red;
}
#jungle{
	text-align:center;
	margin: 0px auto;
	width: 526px;
	height:400px;
	background-image: url("images/Animal_Feeder/Jungle1.png");
	}

#lion {

	text-align:center;
	top: 150px;
	position:relative;
	left: 75px;
	z-index: 10;
}

#zebra {

	text-align: center;
	position: relative;
	z-index: 10;
	top: -20px;
	right: 60px;
}

#steak{

	position: absolute;
	z-index: 20;
	
}

#paddle{

	position: relative;
	top: -300px;
	z-index: 10;
}
