html,body{
	background: green;
	margin: 0;
	padding: 0;
	color: black;
	text-align:center;
}

h1{
	color:#ee0a33;
	font-size: 40;
}

#links{
	text-align: left;
	color:red;
}
#jungle{
	text-align:center;
	margin: 0px auto;
	width: 526px;
	height:400px;
	background-image: url("images/Animal_Feeder/Jungle1.png");
	}
#conBelt{

	position:absolute;
	z-index:2;
	top:100px;
}

#animal1 {
	
	position:relative;
	z-index: 10;
	top: 130px;
	right: -200px;
}
#animal2 {

	position: relative;
	z-index: 10;
	top: 0px;
	right: 130px;
}
#paddle{

	position: absolute;
	top: 140px;
	right: 570px;
	z-index: 10;
}
#food{

	position: absolute;
	right: 800px;
	z-index: 20;
	
}


