*{
	margin: 0;
	padding: 0;
}

h1{
	margin: 10px 0; 
	padding: 5px 100px;
	font-family: Arial,sans-serif;
	font-size: 1.8em;
	letter-spacing: 0.2pt;
	color: #00529b;
	border-bottom: 3px solid #00529b;
}

h1 span{
	color: #EF8C4A;
}

h1 span.author{
	font-size: 0.5em;
	font-weight: normal;
}

#game{
	padding-left: 20px;
	width: 475px;
}

#playground{
	border: 3px solid #FFE816;
	margin: 20px;
	float: right;
}

#mask, #start{

	height: 312px;
	width: 244px;
	z-index: 10;
	display: none;
	position: absolute;
}

#start{
	background: #EEEEEE;
	text-align: center;
	display: block;
}

#msg-endgame{
	color: #000000;
	display: block;
	margin: 50px auto 100px auto;
	width: 200px;
	font-family: impact,sans-serif;
	font-size: 1.4em;
}

#bt-start{
	font-family: impact,sans-serif;
	font-size: 1.5em;
	background: #FFE816;
	color: #000000;
	padding: 10px;
	text-transform: uppercase;
	cursor: pointer;
	-moz-border-radius: 5px;
}

#continue{
	font-family: Arial,sans-serif;
	font-size: 1em;
	padding: 10px;
	display: block;
}

.label{
	display: block;
	margin:30px 0 10px 0; 
	font-family: impact,sans-serif;
	font-size: 2em;
	letter-spacing: 0.2pt;
	color: #00529B;
	width: 200px;
	border-bottom: 3px solid #00529B;

}

.level{
	color: #D31145;
	border-bottom: 3px solid #D31145;
}

.display_zone{
	display: block;
	margin: 0 0 10px 0; 
	font-family: impact,sans-serif;
	font-size: 1.8em;
	letter-spacing: 0.2pt;
	width: 180px;
	height: 30px;
	background: #EEEEEE;
	padding: 5px 10px;
}

.card{
	cursor: pointer;
}

.break{
	clear: both;
}
