body,html{
	margin:0;
	padding:0;
}

div.left{
	background-color:#a0c6ee;
	float:left;
	border-right-style: solid;
	border-right-width:1%;
	height:100%;
	width:18%;
	padding-left:1%;
}

div.center{
	background-color:#d0e4fe;
	height:100%;
	width:60%;
	float:left;

}

div.right{
	background-color:#a0c6ee;
	height:100%;
	width:18%;
	float:left;
	border-left-style: solid;
	border-left-width:1%;
	padding-left:1%;


}

div.container{
	width:100%;
	margin:0;
	padding:0;
}
h3{
	color:green;
}

h4{
	color:blue
}
