 html,body{
	margin: 0;
	padding: 0;
	background: black;
	color: white;
	text-align:center;
}

#playground{
	text-align:left;
	margin: 0px auto;
	width: 450px;
	height:565px;
	background-image: url("images/SatDef/satDefBG.png");
	
}

#city{
	top: 215px;
	text-align: center;
	position: relative;
	z-index: 4;
}
#mysteryBox{
	top: 0px;
	z-index: 1;
	text-align: center;
	position: relative;	
}
#binoculars{
	position:relative;
	text-align: center;
	z-index: 5;
}

