html,body{
	background: green;
	margin: 0;
	padding: 0;
	color: black;
	text-align:center;
}

h1{
	color:#ee0a33;
	font-size: 40;
}

#links{
	text-align: left;
	color:red;
}
#jungle{
	text-align:center;
	margin: 0px auto;
	width: 526px;
	height:400px;
	background-image: url("images/Animal_Feeder/Jungle1.png");
	}
#conBelt{

	position:absolute;
	z-index:2;
	top:100px;
}
#animal1 {

	position: relative;
	z-index: 10;
	top: 190px;
	right: 130px;
}
#animal2 {
	
	position:relative;
	z-index: 11;
	top: -20px;
	right: -200px;
}

#paddle{

	position: absolute;
	top: 140px;
	right: 570px;
	z-index: 10;
}
#food{

	position: absolute;
	right: 800px;
	z-index: 20;
	
}
#Instructions{
	position:relative;
	text-align: center;
	color: #ed6a33;
	font-size: 17;
	top:100
}
#cue{
	position:relative;
	display:block;
	margin-left:auto;
	margin-right:auto;
	top:-50px;
	z-index:30;
	}
#getInstructions{
	position:absolute;
	text-align: left;
	font-size: 17;
	top:100px;
	z-index:100;
}


